name: Check that things work
on: ['push']

jobs:
  lint_and_build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    environment: development
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - name: Install packages
        run: bun install
      - name: Lint
        run: bun run lint
      - run: bun run generate
        env:
          GOOGLE_FIREBASE_API_KEY: '${{ secrets.GOOGLE_FIREBASE_API_KEY }}'
          GOOGLE_FIREBASE_APP_ID: '${{ secrets.GOOGLE_FIREBASE_APP_ID }}'
          GOOGLE_FIREBASE_MESSAGING_ID: '${{ secrets.GOOGLE_FIREBASE_MESSAGING_ID }}'
          GOOGLE_FIREBASE_MEASUREMENT_ID: '${{ secrets.GOOGLE_FIREBASE_MEASUREMENT_ID }}'
          GOOGLE_FIREBASE_APP_CHECK_SITE_KEY: '${{ secrets.GOOGLE_FIREBASE_APP_CHECK_SITE_KEY }}'
